ion-header {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
}

ion-title {
    font-size: 0.8em;
}

ion-header {
    background-color: azure;
}

ion-label {
    width: 130px;
}

ion-input,
ion-select {
    color: gray;
    text-align: right;
}

ng-deep .mat-datepicker-toggle {
    color: blue;
}