<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recuperacion de Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center ion-padding-vertical">

      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2>Validacion para recuperar contraseña</h2>
        </ion-label>
      </ion-card-title>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">CORREO</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.correo"></ion-input>
        </ion-item>
        
        <ion-row>
          <ion-col size="12">
            <ion-button shape="block" (click)="ingresarRecu()">Ingresar</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
      
      <ion-label>
        <br>
        <a (click)="goToLogin()">INICIA SESION</a>
      </ion-label>
    </ion-card>
  </div>
  
</ion-content>
